.App {
  text-align: center;
}

.c1{
  background-color: azure;

}
.digit{
  font-size: 50px;
}
.container1{
  border: 1px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: 1px 3px #ccc;
  background-color: #ccc;
}

.container2{
  border: 1px solid #ccc;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  text-align: center;
  box-shadow: 1px 3px #ccc;
}

.b1{
  height: 30px;
  font-weight: 200px;
  width: 120px;
  cursor: pointer;
  background-color: green;
}
.b2{
  height: 30px;
  font-weight: 200px;
  width: 120px;
  cursor: pointer;
  background-color:red;
}
.b3{
  height: 30px;
  font-weight: 200px;
  width: 120px;
  cursor: pointer;
  background-color:orange;
}


